/*======================================================================
      Author: Abhishek Sharma
      FileName: style.css
      Description: styling for Final project front-end.
====================================================================== */

.magic {
  overflow-y: scroll;
}

.base-product,
.product {
  /* display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative; */
  /* height: 280px; */
  /*	margin-right: 50px;*/
  margin: 1rem;
}

.product-card {
  /*	display: flex;*/
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.product-card-left {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* width: 30%; */
  max-width: 30%;
  background: #f5f1da;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-right: solid 10px rgba(122, 69, 19, 1);
}

.product-card-right {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #f5f1da;

  text-align: left;
  padding-left: 20px;
}

/* .img-wrap {
  width: 170px;
  height: 120px;
  align-self: center;
} */

.buy-now {
  padding-bottom: 20px;
}

/* .product-dscrp {
  padding-top: 15px;
} */

.product-price {
  padding-top: 15px;
}

/* .product-btn {
  padding-top: 20px;
} */
@media (max-width: 576px) {
  .card {
    max-width: 100%;
  }
  .product-card-left {
    border-right: 0px;
  }
  .product-card-right {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  .product-card-left {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
}

@media (max-width: 768px) {
  .card-group {
    flex-flow: column;
  }
  .card {
    max-width: 100%;
  }
  .product-card-left {
    border-right: 0px;
  }
  .product-card-right {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  .product-card-left {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
}

@media (max-width: 576px) {
  .product-dscrp {
    font-size: 12px;
  }
}
